@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/Metropolis.min.css");
html, body{
    background-image: url("/System/Assets/Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    justify-content: center;
    background-size: cover;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
}
#Container{
    background-color: #2525309a;
    backdrop-filter: blur(95px);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 59px;
    display: flex;
    height: 61%;
    width: 49%;
}
#Container *{
    margin: 29px;
}
button , input{
    font-family: "Metropolis" , sans-serif;
    background-color: #4B4574;
    padding: 3% 15% 3% 15%;
    font-weight: lighter;
    border-radius: 19px;
    font-size: x-large;
    color: white;
    margin: 13px;
    border: none;
}
button:hover{
    background-color: #322d53;
}
input{
    background-color: #211F2D;
    padding: 3% 9% 3% 9%;
}
img{
    width: 25%;
}
.Tab{
    display: none;
}