@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/Metropolis.min.css");

html , body{
    overflow: hidden;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.MenuElement{
    background-color: #212125;
    border-radius: 3px;
    color: white;
    border: none;
    padding: 9px;
    width: 139px;
}
.MenuElement:hover{
    background-color: #0E0E13;
}
textarea{
    background-color: transparent;
    height: calc(100%-35px);
    position: absolute;
    font-size: larger;
    color: white;
    width : 100%;
    border: none;
    bottom: 0px;
    top: 35px;
}
*{
    font-family : "Metropolis" , sans-serif ;
}