body , html{
    padding: 0px;
    height: 100%;
    margin: 0px;
}

.Content{
    background-color: #212125;
    width: calc(100%-327px);
    position: absolute;
    height: 100%;
    left: 327px;
    top: 0px;
}